    /*******************Login Page CSS*********/
    
    .login {
        background: url('../uploads/login-background.jpg') no-repeat center center fixed;
        background-size: cover;
        font-family: arial;
    }
    
    .loginHeader {
        text-align: center;
        margin-bottom: 60px;
    }
    
    .loginHeader h1 {
        font-size: 100px;
        color: #f685a2;
        padding: 0px;
        margin: 0px;
    }
    
    .loginHeader p {
        color: #ffdae3;
        font-size: 50px;
        /* border-bottom: 5px solid #f685a2; */
        margin: 0px;
        text-transform: uppercase;
        display: inline-block;
    }
    
    .loginHeader p:after {
        content: '';
        display: block;
        height: 5px;
        background: #f685a2;
        /* width: 50%; */
        margin: 0 auto;
    }
    
    .loginBody form {
        margin: 0 auto;
        width: 450px;
        background: rgba(0, 0, 0, .5);
        padding: 50px;
        border: 2px solid #fff;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
    
    .loginInputContainer {
        margin-top: 30px;
    }
    
    .loginInputContainer label {
        display: block;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        font-style: italic;
    }
    
    .loginInputContainer input {
        height: 30px;
        width: 100%;
        border: 2px solidrgb(122, 90, 98)9;
        font-size: 20px;
        padding: 5px;
        text-align: center;
        font-style: italic;
    }
    
    .loginButtonContainer {
        margin-top: 40px;
        text-align: center;
    }
    
    .loginButtonContainer button {
        font-size: 20px;
        padding: 10px 40px;
        background: #f685a2;
        border: none;
        color: #fff;
    }
    /*************Homepage  CSS**************/
    
    body {
        font-family: arial;
        margin-bottom: auto;
    }
    
    .header {
        width: 100%;
        padding: 10px 0px;
        background: #f685a2;
        text-align: right;
    }
    
    .header a {
        font-size: 20px;
        color: #fff;
        text-decoration: none;
        border: 2px solid transparent;
        border-bottom: 2px solid #fff;
        /* border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px; */
        margin-right: 10px;
        padding: 5px 10px;
    }
    
    .header a:hover {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border: 2px solid #fff;
    }
    
    .banner {
        background: url('../images/login-background.jpg') no-repeat center center fixed;
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 100px;
        height: 80vh;
    }
    
    .homepageContainer {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        height: 70vh;
        margin-bottom: none;
    }
    
    .bannerHeader h1 {
        font-size: 90px;
        color: #f685a1;
        line-height: 100%;
    }
    
    .bannerHeader p {
        font-size: 40px;
        color: #f685a1;
        text-transform: uppercase;
        line-height: 100%;
    }
    
    .bannerTagline {
        margin-top: 20px;
        font-size: 25px;
        color: #fff;
    }
    
    .bannerIcons {
        margin-top: 150px;
    }
    
    .bannerIcons a {
        font-size: 23px;
        margin-left: 40px;
        padding: 7px 15px;
        /* background: green; */
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        width: 50px;
        height: 50px;
        display: inline-block;
        color: #868485;
        background: rgba(0, 0, 0, .5);
    }
    
    .bannerIcons a:first-child {
        margin-left: 0px;
    }
    
    .bannerIcons a:hover {
        color: #fff;
        font-size: 25px;
        background: #f685a1;
        transition: .5s all;
        -webkit-transition: .5s all;
        -moz-transition: .5s all;
        -ms-transition: .5s all;
        -o-transition: .5s all;
    }
    
    .homepageFeatures {
        display: flex;
        flex-direction: row;
        padding: 80px 0px;
    }
    
    .homepageFeature {
        padding: 10px 20px;
        text-align: center;
        width: 33.33%;
    }
    
    .homepageFeature:hover {
        border-top: 2px solid #f8a4b9;
        border-bottom: 2px solid #f8a4b9;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
        -o-transition: 0.5s all;
    }
    
    div.homepageFeature span.featureIcon {
        height: 80px;
        width: 80px;
        display: inline-block;
        font-size: 50px;
        background: #f685a1;
        color: #fff;
        /* padding-left: 18px; */
        padding-top: 5px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin-bottom: 20px;
    }
    
    div.homepageFeature h3.featureTitle {
        margin-bottom: 20px;
        font-size: 25px;
    }
    
    div.homepageFeature p.featureDescription {
        color: #848484;
        font-size: 18px;
    }
    
    div.homepageNotified {
        background: #cac5c5;
        padding: 80px 0px;
    }
    
    div.homepageNotifiedContainer {
        display: flex;
        flex-direction: row;
    }
    
    div.homepageNotifiedContainer>div {
        width: 50%;
    }
    
    div.homepageNotified h3 {
        margin-bottom: 20px;
    }
    
    div.homepageNotified p {
        color: #848484;
        line-height: 200%;
        margin-bottom: 30px;
    }
    
    div.formContainer {
        width: 80%;
        position: relative;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    
    div.formContainer input {
        width: 93%;
        padding: 15px 10px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        border: none;
    }
    
    div.formContainer input:focus {
        outline: none;
    }
    
    div.formContainer button {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        font-size: 22px;
        padding: 0px 10px;
        background: #f685a1;
        border: none;
        color: #fff;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    
    .emailForm h3 {
        font-size: 25px;
    }
    
    .emailForm {
        width: 40%;
    }
    
    .video {
        width: 600%;
        height: 100%;
        margin-right: 10px;
    }
    
    .iframe {
        width: 90%;
        height: 120%;
    }
    
    .socials {
        text-align: center;
        padding: 80px 0 40px 0px;
    }
    
    .socialText {
        margin-top: 20px;
        margin-bottom: 30px;
        color: #848484;
        font-size: 20px;
    }
    
    .socialIconsContainer a {
        font-size: 23px;
        height: 50px;
        width: 50px;
        display: inline-block;
        padding-top: 7px;
        background: #d4d4d4;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        color: #fff;
        margin-left: 20px;
    }
    
    .socialIconsContainer a:hover {
        background: #f8a4b9;
        transition: 0.3s all;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -ms-transition: 0.3s all;
        -o-transition: 0.3s all;
    }
    
    .footer {
        background: #e3e3e3;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .footer a {
        color: #848484;
        margin-left: 30px;
        text-decoration: none;
    }
    
    .socialHeader {
        font-size: 30px;
    }
    
    .footer a:hover {
        font-weight: bold;
        color: #f8a4b9;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
        -o-transition: 0.5s all;
    }
    /**DASHBOARD STYLE**/
    
    #dashboardMainContainer {
        display: flex;
        flex-direction: row;
    }
    
    div.dashboard_sidebar {
        width: 20%;
        background: #323232;
        height: 100vh;
    }
    
    div.dashboard_content_container {
        width: 70%;
    }
    
    div.dashboard_logo {
        color: #f685a1;
        font-size: 80px;
        text-align: center;
    }
    
    .dashboard_sidebar_user {
        text-align: center;
        position: relative;
        padding-bottom: 20px;
        border-bottom: 1px solid #fff;
    }
    
    .dashboard_sidebar_user img {
        width: 80px;
        display: inline-block;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border: 2px solid #f685a1;
        margin-right: 5px;
    }
    
    .dashboard_sidebar_user span {
        position: absolute;
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
        display: inline-block;
        top: 20%;
    }
    
    ul.dashboard_menu_lists {
        margin-top: 20px;
    }
    
    ul.dashboard_menu_lists li {
        padding: 15px 15px;
        /* font-size: 18px; */
        text-transform: uppercase;
    }
    
    ul.dashboard_menu_lists li a i {
        font-size: 25px;
    }
    
    ul.dashboard_menu_lists li a {
        text-decoration: none;
        color: #fff;
        display: block;
        font-size: 20px;
    }
    
    ul.dashboard_menu_lists li.menuActive {
        background: #f685a1;
        color: #fff;
    }
    
    ul.dashboard_menu_lists li:hover {
        background: #f685a1;
        color: #fff;
        transition: 0.3s all;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -ms-transition: 0.3s all;
        -o-transition: 0.3s all;
    }
    
    div.dashboard_topNav {
        background: #fff;
        padding: 20px;
        margin-right: 0px;
    }
    
    div.dashboard_topNav a {
        color: #848383;
        font-size: 18px;
        text-decoration: none;
    }
    
    a#logoutBtn {
        float: right;
        margin-right: 0px;
    }
    
    div.dashboard_content {
        padding: 50px 10px 10px 10px;
    }
    
    div.dashboard_content_main {
        background: #fff;
        min-height: 800px;
       
        height: 100%;
    }
    
    div#errorMessage{
    background: #fff;
    text-align: center;
    color: red;
    font-size: 20px;
    padding: 11px;
}
    